<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NB shop</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <!-- <link rel="stylesheet" href="<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>"> -->
</head>
<body>
    <nav class="navbar">
       <div class="logo">
        <h1>NB</h1>
       </div>
       <ul class="menu">
        <li><a href=""class="active">home</a></li>
        <li><a href="">New</a></li>
        <li><a href="">login</a></li>
        <li><a href="#chart"><i class="fa fa-shopping-cart"></i></a></li>
        <li><a href="#chart"></a></li>
    </ul>
<!-- responsive -->
<div class="menu-btu">
    <i class="fa fa-bars"></i>
</div>

    </nav> 
    <section class="content">
        <H1>New arraival for men  and women</H1>
        <p>Get the Best Foman Fashion Arraival</p>
        <button >Shop Now
        </button>
    </section>
    <h1 class="pheading">our latest products</h1>
    <section class="sec">
        <div class="proudect">

<!-- !card start here -->
            <div class="card">
                <div class="img"><img src="/static/photo/cajual dress.png" alt=""></div>
                <div class="desc">women</div>
                <div class="title">cajual dress</div>
                <div class="box">
                    <div class="price">$250</div>
                    <form action="/" method="POST">
                        <input type="hidden" name="user_name" value="basel">
                        <input type="hidden" name="item_price" value="250">
                        <input type="hidden" name="item_name" value="cajual_dress" readonly required>
                        <input type="hidden" name="product_number" value="1" readonly required>
                        <button class="btn" type="submit">Add to chart<i class="fa fa-shopping-cart"></i></button>
                    </form>
                </div>
            </div>
<!-- card end here new  -->
<!-- !card start here -->
<div class="card">
    <div class="img"><img src="/static/photo/bag move.jpg" alt=""></div>
    <div class="desc">women</div>
    <div class="title">pink bag </div>
    <div class="box">
        <div class="price">$60</div><form action="/" method="POST">
            <input type="hidden" name="user_name" value="basel">
            <input type="hidden" name="item_price" value="60">
            <input type="hidden" name="item_name" value="pink_bag " readonly required>
            <input type="hidden" name="product_number" value="1" readonly required>
            <button class="btn" type="submit">Add to chart<i class="fa fa-shopping-cart"></i></button>
        </form>
    </div>
</div>
<!-- card end here new  -->
<!-- !card start here -->
<div class="card">
    <div class="img"><img src="/static/photo/bag.png" alt=""></div>
    <div class="desc">women</div>
    <div class="title">hand made bag</div>
    <div class="box">
        <div class="price">$200</div><form action="/" method="POST">
            <input type="hidden" name="user_name" value="basel">
            <input type="hidden" name="item_price" value="200">
            <input type="hidden" name="item_name" value="bag" readonly required>
            <input type="hidden" name="product_number" value="1" readonly required>
            <button class="btn" type="submit">Add to chart<i class="fa fa-shopping-cart"></i></button>
        </form>
    </div>
</div>
<!-- card end here new  -->
<!-- !card start here -->
<div class="card">
    <div class="img"><img src="/static/sandel.png" alt=""></div>
    <div class="desc">women</div>
    <div class="title">lady sandel</div>
    <div class="box">
        <div class="price">$100</div><form action="/" method="POST">
            <input type="hidden" name="user_name" value="basel">
            <input type="hidden" name="item_price" value="100">
            <input type="hidden" name="item_name" value="sandel" readonly required>
            <input type="hidden" name="product_number" value="1" readonly required>
            <button class="btn" type="submit">Add to chart<i class="fa fa-shopping-cart"></i></button>
        </form>
    </div>
</div>
<!-- card end here new  -->

<!-- !card start here -->
<div class="card">
    <div class="img"><img src="/static/photo/green dress .png" alt=""></div>
    <div class="desc">women</div>
    <div class="title">green dress</div>
    <div class="box">
        <div class="price">$800</div><form action="/" method="POST">
            <input type="hidden" name="user_name" value="basel">
            <input type="hidden" name="item_price" value="800">
            <input type="hidden" name="item_name" value="green_dress" readonly required>
            <input type="hidden" name="product_number" value="1" readonly required>
            <button class="btn" type="submit">Add to chart<i class="fa fa-shopping-cart"></i></button>
        </form>
    </div>
</div>
<!-- card end here new  -->
<!-- !card start here -->
<div class="card">
    <div class="img"><img src="/static/photo/red dress.png" alt=""></div>
    <div class="desc">women</div>
    <div class="title">red dress</div>
    <div class="box">
        <div class="price">$600</div><form action="/" method="POST">
            <input type="hidden" name="user_name" value="basel">
            <input type="hidden" name="item_price" value="600">
            <input type="hidden" name="item_name" value="red_dress" readonly required>
            <input type="hidden" name="product_number" value="1" readonly required>
            <button class="btn" type="submit">Add to chart<i class="fa fa-shopping-cart"></i></button>
        </form>
    </div>
</div>
<!-- card end here new  -->
<!-- !card start here -->
<div class="card">
    <div class="img"><img src="/static/photo/pruple dress .png" alt=""></div>
    <div class="desc">women</div>
    <div class="title">pruple dress</div>
    <div class="box">
        <div class="price">$600</div><form action="/" method="POST">
            <input type="hidden" name="user_name" value="basel">
            <input type="hidden" name="item_price" value="600">
            <input type="hidden" name="item_name" value="pruple_dress" readonly required>
            <input type="hidden" name="product_number" value="1" readonly required>
            <button class="btn" type="submit">Add to chart<i class="fa fa-shopping-cart"></i></button>
        </form>
    </div>
</div>
<!-- card end here new  -->

<!-- !card start here -->
<div class="card">
    <div class="img"><img src="/static/photo/shoes.png" alt=""></div>
    <div class="desc">women</div>
    <div class="title">pink shoes</div>
    <div class="box">
        <div class="price">$280</div><form action="/" method="POST">
            <input type="hidden" name="user_name" value="basel">
            <input type="hidden" name="item_price" value="280">
            <input type="hidden" name="item_name" value="pink_shoes" readonly required>
            <input type="hidden" name="product_number" value="1" readonly required>
            <button class="btn" type="submit">Add to chart<i class="fa fa-shopping-cart"></i></button>
        </form>
    </div>
</div>
<!-- card end here new  -->





<!-- men -->
<h1 class="pheading">our latest products for men </h1>

<section class="sec">
    <div class="proudect">

<!-- !card start here -->
<div class="card">
    <div class="img"><img src="/static/photo/bl shirt.png" alt=""></div>
    <div class="desc">men</div>
    <div class="title">blue shirt</div>
    <div class="box">
        <div class="price">$200</div><form action="/" method="POST">
            <input type="hidden" name="user_name" value="basel">
            <input type="hidden" name="item_price" value="200">
            <input type="hidden" name="item_name" value="blue_shirt" readonly required>
            <input type="hidden" name="product_number" value="1" readonly required>
            <button class="btn" type="submit">Add to chart<i class="fa fa-shopping-cart"></i></button>
        </form>
    </div>
</div>
<!-- card end here new  -->


        
<!-- !card start here -->
<div class="card">
    <div class="img"><img src="/static/photo/black shirt.png" alt=""></div>
    <div class="desc">men</div>
    <div class="title">black shirt</div>
    <div class="box">
        <div class="price">$250</div><form action="/" method="POST">
            <input type="hidden" name="user_name" value="basel">
            <input type="hidden" name="item_price" value="250">
            <input type="hidden" name="item_name" value="black_shirt" readonly required>
            <input type="hidden" name="product_number" value="1" readonly required>
            <button class="btn" type="submit">Add to chart<i class="fa fa-shopping-cart"></i></button>
        </form>
    </div>
</div>
<!-- card end here new  -->

        
<!-- !card start here -->
<div class="card">
    <div class="img"><img src="/static/photo/shoes boy .png" alt=""></div>
    <div class="desc">men</div>
    <div class="title">men shoes</div>
    <div class="box">
        <div class="price">$300</div><form action="/" method="POST">
            <input type="hidden" name="user_name" value="basel">
            <input type="hidden" name="item_price" value="300">
            <input type="hidden" name="item_name" value="men_shoes" readonly required>
            <input type="hidden" name="product_number" value="1" readonly required>
            <button class="btn" type="submit">Add to chart<i class="fa fa-shopping-cart"></i></button>
        </form>
    </div>
</div>
<!-- card end here new  -->


<section class="sec" id="chart">
<h1 class="chart_text"><li>YOUR CART <a href="#chart"><i class="fa fa-shopping-cart"></i></a></li>
</h1>


    
<section class="sec" id="chart">
    <!-- بداية الكروت -->
    {% for item in items %}
    <div class="card">
        <div class="img">
            <!-- عرض الصورة بناءً على اسم العنصر -->
            {% if item[1] == "sandel" %}
                <img src="/static/sandel.png" alt="">
            {% elif item[1] == "cajual_dress" %}
                <img src="/static/photo/cajual dress.png" alt="">
            {% elif item[1] == "pink_bag" %}
                <img src="/static/photo/bag move.jpg" alt="">
            {% elif item[1] == "bag" %}
                <img src="/static/photo/bag.png" alt="">
            {% elif item[1] == "green_dress" %}
                <img src="/static/photo/green dress.png" alt="">
            {% elif item[1] == "red_dress" %}
                <img src="/static/photo/red dress.png" alt="">
            {% elif item[1] == "snow_dress" %}
                <img src="/static/photo/snow dress.png" alt="">
            {% elif item[1] == "pruple_dress" %}
                <img src="/static/photo/pruple dress .png" alt="">
            {% elif item[1] == "blue_shirt" %}
                <img src="/static/photo/bl shirt.png" alt="">
            {% elif item[1] == "black_shirt" %}
                <img src="/static/photo/black shirt.png" alt="">
            {% elif item[1] == "men_shoes" %}
                <img src="/static/photo/shoes boy .png" alt="">
            {% elif item[1] == "pink_shoes" %}
                <img src="/static/photo/shoes.png" alt="">
            {% else %}
                <img src="ابط_صورة_افتراضي" alt="">
            {% endif %}
        </div>
        <!-- نموذج لتعديل الكمية -->
        <form method="post" action="/edit_item">
        <input type="hidden" name="item_name" value="{{ item[1] }}">
        <!-- إضافة حقل إخفاء لاسم المستخدم -->
        <input type="hidden" name="user_name" value="{{ item[0] }}">
        <div class="box">
            <div class="desc">TNX fou buying mr: {{ item[0] }}</div>
            <div class="title">{{ item[1] }}</div>
            <div class="price">Total Price: {{ item[2] * item[3] }}</div>
            <div class="product-number">
                <!-- عرض الكمية الحالية وإمكانية التعديل -->
                <input type="number" name="new_quantity" value="{{ item[3] }}" min="0">
            </div>
            <div class="time">{{ item[4] }}</div>
            <!-- زر الحذف في حالة أن الكمية أصبحت صفر -->
            {% if item[3] != 0 %}
                <button class="save" type="submit">save changes </button>
            {% endif %}
            </div>
        </form>
    </div>
    {% endfor %}
</section>

        <!-- نهاية الكروت -->
    </section>
    
</section>

</section>

</section>



</section>
</div>
<footer>

    <p>Copyright <a href="https://www.facebook.com/baselahmed363/">@Basel-Ahmed</a>-Mar-2024 </p>
</footer>
</body>
</html>